{
  "api": {
    "username": "apiuser",
    "password": "apipass",
    "port": 443,
    "verify_ssl": false
  },
  "devices": [
    { "host": "fw1.yourdomain.local" },
    { "host": "fw2.yourdomain.local", "port": 443 }
  ]
}
